html, body{
    margin: 0px;
    padding: 0px;
}

/* a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.content{
    margin: 0 8%;
}

header{
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
}

header .logo{
    padding: 10px 0;
    float: left;
    font-size: 2em;
}

header nav{
    float: right;
    margin: 20px 0;
}

header nav ul{
    margin: 0;
    padding: 0;
}

header nav ul li:nth-child(n+2):before{
    content: "|";
    margin: 0 10px;
}

header nav ul li{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

header nav ul li a{
    margin: 0;
    color: #333;
}

article{
    margin-top: 60px;
}

.generator{
    padding: 20px 0;
    background-color: #343434;
    text-align: center;
}

.btnGenerate{
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #fbcf61;
    border: 1px solid #333;
}

.generator .result span{
    font-size: 2em;
    padding: 20px;
    background: #eee;
}
 */